div {
    border: 1px solid black;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.main-container {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    min-height: 100dvh;
    min-width: fit-content;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: larger;
    gap: 250px;
    margin: 0;
    padding: 0;
}

.header li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 250px;
    height: 70px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

#converter {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
}

#test-generator {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    min-height: 500px;
    max-height: calc(100dvh - 200px);
}

.test-options {
    display: grid;
    margin: 10px 35px 10px 35px;
    grid-template-rows: 80px 80px 80px 80px;
}

.testSelect-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.testSelect-container label {
    padding-right: 15px;
    font-size: 18px;
}

.testSelect-container select {
    font-size: 17px;
}

.testRandomize-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.testRandomize-container label {
    padding-right: 15px;
    font-size: 18px;
}

.testQuantity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.testQuantity-container label {
    padding-right: 15px;
    font-size: 18px;
}

.generateTest-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.generateTest-container button {
    height: 50px;
    width: 200px;
}

.test-menu {
    display: grid;
    overflow-y: auto;
    grid-auto-rows: 300px;
}

.question-card {
    display: grid;
    grid-template-rows: 40px 100px; 
    border-radius: 20px;
    padding: 25px;
    margin: 25px;
}

.numberLine {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: smaller;
}

.binary-tab {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.decimal-tab {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.hexadecimal-tab {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.top-content {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 10px;
}

.top-content h2 {
    margin-top: 25px;
    margin-bottom: 20px;
}

.top-content input {
    border: 1px solid black;
    height: 30px;
    width: 80%;
}

.top-content input:invalid {
    background-color: lightpink;
}

.top-content button {
    padding: 10px 25px 10px 25px;
}


